:root {
  --icons-color: #4c5773;
  --icons-bg-color: #e2e6e9;
  --shadow-dark-color: #d3dae7;
  --shadow-light-color: #fff;
  --main-bg-color: #ecf0f3;
  --pink: #ec4899;
  --purple: #8b5cf6;

  --box-shadow: 1rem 1rem 1rem var(--shadow-dark-color),
    -1rem -1rem 1rem var(--shadow-dark-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  width: 300px;
  height: 500px;
  background: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}

.app .app-info {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2rem;
}

.app-info i {
  font-size: 45px;
  background: linear-gradient(to right, var(--pink), var(--purple));
  padding: 0.5rem;
  border-radius: 30%;
  color: var(--main-bg-color);
  margin-right: 1rem;
}

h1 {
  color: var(--icons-color);
  font-family: "Times New Roman", Times, serif;
}

.doto-container {
  width: 100%;
  height: 80%;
}

.doto-container .inputField {
  background: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 80%;
  height: 40px;
  outline: none;
  border: none;
  background: var(--main-bg-color);
}

.inputField input[type="text"] {
  margin-left: 1rem;
}

.inputField i {
  font-size: 20px;
  margin-right: 1rem;
  cursor: pointer;
  color: #8b5cf6;
}

.create-li {
  width: 100%;
  height: 40px;
  background: var(--icons-bg-color);
  margin-top: 1rem;
  border-radius: 1rem;
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  cursor: pointer;
}

.create-Btn {
  margin-right: 1rem;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--pink);
  cursor: pointer;
  background: none;
}
